.landing-page-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 0.6rem;
}

.landing-page-lines > p {
  margin: 0;
}

.landing-page-lines {
  width: fit-content;
  display: grid;
  place-content: center;
  gap: 0.5rem;
}

.lets-begin {
  display: grid;
  margin-top: 1rem;
}
